.navbar-dark.navbar-stuck {
    background-color: #1C1C1C;
}
.navbar-dark {
    background-color: #1C1C1C;
}
.bg-dark {
    background-color: #131313 !important;
}

.dropdown-menu-dark {
    background-color: #131313;
}
.navbar-expand-lg .dropdown-menu.dropdown-menu-dark {
    background-color: #131313;
}

.btn-primary {
    /* background: linear-gradient(90deg, #FE4D10,#FDA003); */
}